<ng-container [ngSwitch]="element.controlType">
    <ng-container *ngSwitchCase="'radio'">
        <div [formGroup]="formGroup" class="radios">
            <span>{{ element.description }}</span>
            <label *ngFor="let item of element.options; let i = index"> {{ item.value }}
                <input type="radio" [id]="element.fieldId + '-' + i" [name]="element.fieldId" [formControlName]="element.fieldId" [value]="item.key" />
            </label>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'text'">
        <div [formGroup]="formGroup" class="text">
            <label [for]="element.fieldId + '-' + element.fieldIndex">
                <span>{{ element.description }}</span>
            </label>
            <input type="text" [id]="element.fieldId + '-' + element.fieldIndex" [name]="element.fieldId" [formControlName]="element.fieldId" />
        </div>
    </ng-container>

</ng-container>