
<form [formGroup]="form">

    <ng-container *ngFor="let item of layout">
        <ng-container [ngSwitch]="item.type">
            <ng-container *ngSwitchCase="'element'">
                <ng-container *ngIf="formControls[item.element]">
                    <app-dynamic-field [class]="item.inputClass" [formGroup]="form" [element]="formControls[item.element].elementOption" (onChange)="elementOnChange($event)"></app-dynamic-field>
                </ng-container>
            </ng-container>

            <div *ngSwitchCase="'section'" [class]="item.elementClass">

                <div *ngFor="let childitem of item.items" [class]="childitem.elementClass">
                    <ng-container *ngIf="formControls[childitem.element]">
                        <app-dynamic-field [class]="item.inputClass" [formGroup]="form" [element]="formControls[childitem.element].elementOption" (onChange)="elementOnChange($event)"></app-dynamic-field>
                    </ng-container>
                </div>

            </div>

        </ng-container>
            
    </ng-container>

</form>
